.profile{
    @apply relative flex flex-col items-center justify-center p-10 overflow-hidden bg-red-100;
    @screen lg {
        @apply bg-white;
    }
    &__back{
        @apply flex justify-start items-center w-full max-w-[1350px] ;
        span:nth-child(1){
            @apply text-xs font-medium;
        }
        span:nth-child(3){
            @apply text-xs font-bold;
        }
    }
    &__container{
        @apply relative flex flex-col justify-between items-center max-w-[1350px] w-full rounded-3xl gap-10;
        @screen lg {
            @apply bg-gradient-1 flex-row px-28 py-14 gap-20;
        }
    }
    &__userdata{
        @apply flex flex-col w-full gap-12 ;
        @screen lg {
            @apply w-1/4;
        }
        &__photo {
            @apply relative flex items-center flex-col gap-6;


            p {
                @apply text-primary_600_v2;
            }
        }
        &__data{
            @apply flex flex-col gap-4;
            div{
                @apply flex flex-col gap-2 text-primary_600_v2;
                span:nth-child(1){
                    @apply font-bold text-sm;
                }
            }
        }
    }
    &__usercontact{
        @apply flex flex-col w-full gap-6;
        @screen lg {
            @apply w-3/4;
        }
        &__title{
            @apply flex flex-col gap-1;
            h2{
                @apply text-5xl text-primary_400_v2 font-bold;
            }
            span{
                @apply text-xl text-secondary_800_v2 font-bold;
            }
        }
        &__ranking{
            @apply flex gap-8 text-primary_600_v2;
            div{
                @apply flex flex-col gap-2;
                span:nth-child(1){
                    @apply font-bold text-sm;
                }
                span:nth-child(2){
                    @apply font-bold text-4xl;
                }
            }
        }
        &__buttons{
            @apply grid grid-cols-2 gap-2;
            @screen sm {
                @apply flex;
            }
            @screen lg {
                @apply flex;
            }
            span {
                @apply px-4 py-2;
                @screen sm {
                    @apply px-6 py-4;
                }
            }
            span:nth-child(1){
                @apply flex items-center justify-center rounded-full w-fit  gap-4 text-white text-base font-medium cursor-pointer bg-gradient-6;
                
            }
            span:nth-child(2), span:nth-child(3){
                @apply flex items-center justify-center rounded-full w-fit  gap-4 text-base font-medium cursor-pointer bg-neutral_gray_200_v2;
            }
        }
        &__form{
            @apply flex flex-col p-8 gap-5 rounded-3xl bg-white;
            p{
                @apply text-sm;
            }
        }
        &__inputs{
            @apply flex flex-col gap-3;
            div{
                @apply flex gap-3;
                input{
                    @apply border-[1px] border-neutral_gray_200_v2 py-3 px-4 w-1/2 rounded-full;
                }
            }
            textarea{
                @apply border-[1px] border-neutral_gray_200_v2 p-4 rounded-2xl;
            }
        }
        button{
            @apply w-fit py-3 px-5 rounded-full border-[2px] border-primary_400_v2 font-medium text-sm text-primary_400_v2;
        }
    }
    &__usercircle{
        @apply absolute top-[-80px] left-[-80px] ;
    }
    &__firstcircle{
        @apply absolute bottom-[-60px] left-60 ;
    }
    &__gradientcircle{
        @apply absolute top-[-120px] right-[-80px] ;
    }
}

.thankmessage{
    @apply h-[266px] text-primary_600_v2;
}